@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FAE7B5;
    font-weight: bold;
    line-height: normal;
}

::selection {
    background-color: aqua;
    color: black;
}

.flex, .ull, .text, .links, .name, .grid {
    position: relative;
    left: 25%;
    box-sizing: border-box;
    border: 5px solid rgb(255, 0, 0);
    text-align: center;
    margin-top: 20px;
    min-width: 667px;
    min-height: 50px;
    max-width: 667px;
}

.grid {
    display: grid;
    
    grid-template-columns: repeat(4, 2fr);
    /* grid-row-gap: 10px;
    grid-column-gap: 10px; */
    gap: 10px;

    justify-items: center;
    align-items: end;

    justify-content: center;
    align-content: center;

    
}

.grid > div {
    text-align: center;
    justify-self: end;

}

.name {
    position: fixed;
    z-index: 2;
}

.flex {
    display: flex;
    height: 400px;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.flex .p_1 {
    order: 3;
    align-self: flex-end;
    flex-grow: 2;
}

.flex .p_2 {
    order: 2;
    flex-grow: 2;
}

.flex .p_3 {
    order: 1;
    align-self: flex-start;
}

.text pre {
    height: 150px;
    overflow: scroll;
    overflow-x: hidden;
}

.h2 + .h3 {
    color:red;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.ull {
    width: 667px;
}

img {
    position: relative;
    border: solid black 10px;
    border-radius: 50%;
    max-width: 100%;
    z-index: 0;
}

h3 {
    font-size: 2vw;
}

.text_h3 {
    color: #ff5e00;
}

h3:not(.text_h3) {
    color: #3e372a9b;
}

a[href^="https"] {
    color: dodgerblue;
    text-decoration: none;
    transition: font-size 0.3s ease;
    text-align: center;
}

#yt {
    color: red
}

a:hover {
    font-size: 1.2em;
}


pre {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 30;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
   
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}
   
::-webkit-scrollbar-track {
    background-color: lightgrey;
}